.hide {
  display: none;
}

.abstract:hover + .hide {
  display: block;
  /* color: red; */
}

h3{
  padding: 0px;
  margin: 0px;
}

.iconDetails {
 margin-left:2%;
  float:left; 
  width:auto;
  height:auto;
  max-height:200px;
  max-width:200px; 
  padding: 1.5%;
} 

/* TODO add js */
/* zoom animation */
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

@-webkit-keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}
@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}

.iconDetails:hover {
  /*-webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;*/
  transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.container2 {
  /*width:270px;*/
  height:auto;
  padding:1%;
  float:left;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 30%;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}
.column2 {
  flex: 70%;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}